<div class="container-desk-form">
  <%= simple_form_for ([@desk, @booking]) do |f| %>
    <%= f.label :Booking_review, style: "color:white" %>
    <%= f.input_field :review, class: "form-control" %>
    <%= f.label :Booking_rating, style: "color:white" %>
    <%= f.input_field :rating, class: "form-control" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
