<div class="container">
   <h1 class= "text-center card-margin"><%= "Welcome #{@user.username}! to your profil page" %></h1>
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Profil</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">My Desks</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">My bookings</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="text-center">
        <% if @user.avatar.file %>
          <%=  cl_image_tag(@user.avatar, :width=>200, :height=>200, :class=> "img-circle card-margin", :crop=>"scale") %>
          <% end %>
          <h1 ><%=  @user.username %></h1>
          <h3><%= "email adress : #{@user.email}" %></h3>
          <%= link_to "Edit your profil", edit_user_registration_path, class: "btn btn-warning card-margin" %>

          <p><%= "Your account was created : #{@user.created_at}" %></p>
          <p><%= "Last update on your account : #{@user.updated_at}" %>
          <p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="title-container">
          <h1 class= "text-center" style= "color:white">Your desks</h1>
          <h2 class= "text-center" style="color:white">Please find all your desks bellow</h2>
        </div>
        <% @user.desks.reverse.each do |desk|%>
          <%= link_to desk_path(desk), class: "product" do %>
            <div class='product-upvote'>
              <div class='product-count'><%= desk.price %>€</div>
            </div>

            <%=  cl_image_tag(desk.photo, :width=>300, :height=>150, :class=> " product-image hidden-xs", :crop=>"fill") %>
            <div class="product-body">
              <h3 class= "black"><%= desk.title %></h3>
              <p class = "black"><%= desk.address%></p>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><a href=""><i class="fas fa-heart"></i></a></li>
              <li><a href=""><i class="fas fa-share"></i></a></li>
              <li><a href=""><i class="fas fa-star"></i></a></li>
              </ul>
          <% end %>
        <% end %>

      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <div class="title-container">
          <h1 class= "text-center" style= "color:white">Your bookings</h1>
          <h2 class= "text-center" style= "color:white">Please find all your bookings bellow</h2>
        </div>
        <% @user.bookings.reverse.each do |booking|%>
          <div class="product">
            <div class='product-upvote'>
              <div class='product-count'><%= booking.desk.price %>€</div>
            </div>
            <%= link_to desk_path(booking.desk) do %>
            <%=  cl_image_tag(booking.desk.photo, :width=>300, :height=>150, :class=> " product-image hidden-xs", :crop=>"fill") %>
            <% end %>
            <div class="product-body">
              <h3 class= "black"><%= booking.desk.title %></h3>
              <p class = "black"><%= booking.desk.address%></p>
              <%= link_to "My booking", desk_booking_path(booking.desk, booking), class: "btn btn-primary"%>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><a href=""><i class="fas fa-heart"></i></a></li>
              <li><a href=""><i class="fas fa-share"></i></a></li>
              <li><a href=""><i class="fas fa-star"></i></a></li>
              </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

