<div class="container-desk-form">
  <%= simple_form_for (@desk) do |f| %>
    <%= f.label :Desk_title, style: "color:white" %>
    <%= f.input_field :title, class: "form-control" %>
    <%= f.label :Desk_address, style: "color:white" %>
    <%= f.input_field :address, class: "form-control" %>
    <%= f.label :Desk_description, style: "color:white" %>
    <%= f.input_field :description, class: "form-control" %>
    <%= f.label :Desk_price, style: "color:white" %>
    <%= f.input_field :price, class: "form-control" %>
    <%= f.label :Desk_photo, style: "color:white" %>
    <%= f.input_field :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
