<div class="container" style="margin-bottom:40px ">
  <div class="row card-margin">

    <div class="col-xs-12 col-sm-8">
      <div class="img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= safe_desk_img_large_path(@desk) %>')">
        <h1><%= @desk.title %></h1>
        <p><%= @desk.address %></p>
        <p><%= @desk.description %></p>
        <p class="left-bottom"><%= @desk.price %> €/hour</p>
      </div>
      <div id="map" style="height: 250px;" data-markers="<%= @markers.to_json %>"></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="booking-container">
        <%= simple_form_for [@desk, @booking] do |f| %>
      <%= f.input :start_at, as: :string, required: false, input_html: {class: "datepicker", id: "startAt"} %>
      <%= f.input :end_at, as: :string, required: false, input_html: {class: "datepicker", id: "endAt"} %>



          <%= f.button :submit, class: "btn btn-primary", id: "button" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="review">
    <%= render 'bookings/list_reviews'  %>
  </div>
    <%= link_to "Back to desks", root_path, class: "btn btn-warning " %>
</div>
