<div class="container">
  <div class="row card-show">
    <div class="col-xs-12 col-sm-8 img-medium" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= safe_desk_img_path(@desk) %>')">
      <h1><%= @desk.title %></h1>
      <p><%= @desk.description %></p>
      <p><%= @desk.price %>€/hour</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="booking-container">
        <%= simple_form_for [@desk, @booking] do |f| %>
          <%= f.input :start_at, as: :datetime, class: "form-control" %>
          <%= f.input :end_at, as: :datetime, class: "form-control" %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'bookings/list_reviews'  %>

  <%= link_to "Back to desks", root_path, class: "btn btn-warning " %>
</div>
